*.zip
*.gif
!Laboratorios/Laboratorio_2/plaza.gif

Laboratorios/*/.ipynb_checkpoints/
Proyecto/.ipynb_checkpoints/

Laboratorios/Laboratorio_2/images_lab
Laboratorios/Laboratorio_2/secuencia_plaza

Laboratorios/Laboratorio_3/Lab3_pruebas.ipynb

Proyecto/X_t0
Proyecto/X_t1
Proyecto/y_t0
*.csv
*.json
*.pickle
*.parquet
*.html
